.App {
  width: 100vw;
  height: 100vh;
  background-color: gold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main_box{
     display: grid;
     grid-template-rows: 120px 120px 120px;
     grid-template-columns: 120px 120px 120px;
     justify-content: center;
     align-content: center;
}
.small_box{
   border: 1px solid white;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  width:100px;
  height: 100px;
}
.none{
  display: none;
}
.headings{
     font-size: xx-large;
     font-weight: bolder;
}
button{
  background-color: yellow;
  margin-top: 10px;
  width: 100px;
  height: 50px;
  font-size: xx-large;
  border-radius: 10px;
  border: 2px solid white;
  display: grid;
  justify-content: center;
}
.div1{
  font-size: xx-large;
  font-weight: bolder;
  margin-bottom: 30px;
}





